<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.item.study.mapper.GoodsSpecValMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="roomMap" type="com.item.study.model.entity.GoodsSpecValEntity">
        <id property="id" javaType="Integer" column="id"/>
        <result property="value" javaType="String" column="value"/>
        <result property="specId" javaType="Integer" column="spec_id"/>
    </resultMap>

    <!--  缓存配置  -->
    <!--   <cache eviction="LRU" flushInterval="60000" size="512"/>  -->

    <insert id="onInsert">
        INSERT INTO s_goods_spec_value (value, spec_id)
        VALUES (#{value}, #{specId});
    </insert>

    <insert id="onInserts">
        INSERT INTO s_goods_spec_value (value, spec_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.value}, #{specId})
        </foreach>
    </insert>

    <update id="onUpdate">
        UPDATE s_goods_spec_value
        <set>
            value=#{value}
        </set>
        WHERE id=#{id};
    </update>

    <delete id="onDelete">
        DELETE FROM s_goods_spec_value WHERE id=#{id};
    </delete>

    <select id="onQuery" resultMap="roomMap">
        SELECT * FROM s_goods_spec_value
        <where>
            <if test="status != null">
                spec_id = #{specId}
            </if>
        </where>
    </select>

</mapper>