<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.item.study.mapper.GoodsSpecMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="roomMap" type="com.item.study.model.entity.GoodsEntity">
        <id property="id" javaType="Integer" column="id"/>
        <result property="name" javaType="String" column="name"/>
        <result property="cover" javaType="String" column="cover"/>
        <result property="description" javaType="String" column="description"/>
        <result property="status" javaType="Integer" column="status"/>
        <result property="createdAt" javaType="Date" column="created_at"/>
        <result property="updatedAt" javaType="Date" column="updated_at"/>
    </resultMap>

    <!--  缓存配置  -->
    <!--    <cache/>-->

    <insert id="onInsert">
        INSERT INTO s_goods (name, cover, description)
        VALUES (#{body.name},#{body.cover},#{body.description});
    </insert>

    <update id="onUpdate">
        UPDATE s_goods
        <set>
            value=#{value}
        </set>
        WHERE id=#{id};
    </update>

    <delete id="onDelete">
        DELETE FROM s_goods WHERE id=#{id};
    </delete>

    <select id="onQuery" resultMap="roomMap">
        SELECT * FROM s_goods
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="category != null">
                AND category_id = #{category}
            </if>
        </where>
    </select>

</mapper>