<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.item.study.mapper.GoodsSkuMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="skuMap" type="com.item.study.model.entity.GoodsSkuEntity">
        <id property="id" javaType="Integer" column="id"/>
        <id property="goodsId" javaType="Integer" column="goods_id"/>
        <result property="name" javaType="String" column="name"/>
        <result property="cover" javaType="String" column="cover"/>
        <result property="description" javaType="String" column="description"/>
        <result property="specIds" javaType="String" column="spec_ids"/>
        <result property="price" javaType="Integer" column="price"/>
        <result property="stock" javaType="Integer" column="stock"/>
        <result property="sold" javaType="Integer" column="sold"/>
        <result property="status" javaType="Integer" column="status"/>
        <result property="createdAt" javaType="Date" column="created_at"/>
        <result property="updatedAt" javaType="Date" column="updated_at"/>
    </resultMap>

    <!--  缓存配置  -->
<!--    <cache eviction="LRU" flushInterval="60000" size="512"/>-->

    <insert id="onInsert">
        INSERT INTO s_goods_sku (goods_id, name, cover, price, stock, spec_ids, status)
        VALUES (#{body.goodsId},#{body.name},#{body.cover},#{body.price},#{body.stock},#{body.specIds}, 1);
    </insert>

    <update id="onUpdate">
        UPDATE s_goods_sku
        <set>
            value=#{body.value}
        </set>
        WHERE id=#{body.id};
    </update>

    <delete id="onDelete">
        DELETE FROM s_goods_sku WHERE id=#{id};
    </delete>

    <select id="onQuery" resultMap="skuMap">
        SELECT * FROM s_goods_sku
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="category != null">
                AND category_id = #{category}
            </if>
        </where>
    </select>
</mapper>