<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.DeviceMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="deviceMap" type="com.mon.aichat.model.entity.TokenEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="createUid" javaType="Integer" column="create_uid"/>
        <result property="status" javaType="Integer" column="status"/>
        <result property="level" javaType="Integer" column="level"/>
        <result property="title" javaType="String" column="title"/>
        <result property="content" javaType="String" column="content"/>
        <result property="attachments" javaType="String" column="attachments"/>
        <result property="createTime" javaType="Date" column="create_time"/>
    </resultMap>

    <select id="onQuery" resultMap="deviceMap">
        SELECT * FROM task
        <where>
            <if test="tag!=null">
                tag = #{tag}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
        limit #{start},#{size};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM task
        <where>
            <if test="uid!=null">
                uid = #{uid}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="onHandle" resultType="int">
        SELECT count(*) FROM task where gid=#{gid};
    </select>

    <insert id="onInsert">
        insert into task (device_type,nickname,sn,memo,create_time) values
        (#{body.deviceType},#{body.nickname},#{body.sn},#{body.memo},#{body.createTime});
    </insert>

    <update id="onUpdate">
        update task
        <set>
            <if test="body.deviceType!=null">
                device_type = #{body.deviceType},
            </if>
            <if test="body.nickname!=null">
                nickname = #{body.nickname},
            </if>
            <if test="body.sn!=null and body.sn!=''">
                sn = #{body.sn},
            </if>
            <if test="body.memo!=null and body.memo!=''">
                memo = #{body.memo},
            </if>
        </set>
        where id = #{body.id};
    </update>

    <delete id="onDelete">
        delete from task where id = #{id};
    </delete>
</mapper>