<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.DeviceMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="taskMap" type="com.mon.aichat.model.entity.TaskEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="createUid" javaType="Integer" column="create_uid"/>
        <result property="status" javaType="Integer" column="status"/>
        <result property="level" javaType="Integer" column="level"/>
        <result property="type3" javaType="Integer" column="type3"/>
        <result property="title" javaType="String" column="title"/>
        <result property="content" javaType="String" column="content"/>
        <result property="attachments" javaType="String" column="attachments"/>
        <result property="updateTime" javaType="Date" column="update_time"/>
        <result property="createTime" javaType="Date" column="create_time"/>
    </resultMap>

    <select id="onDetail" resultMap="taskMap">
        SELECT * FROM task where id=#{id};
    </select>

    <select id="onQuery" resultMap="taskMap">
        SELECT * FROM task
        <where>
            <if test="type3!=null">
                type3 = #{type3}
            </if>
            <if test="uid!=null">
                and create_uid = #{uid}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
        limit #{start},#{size};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM task
        <where>
            <if test="uid!=null">
                uid = #{uid}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
    </select>

    <insert id="onInsert">
        insert into task (title,content,level,attachments,create_uid,create_time,create_time) values
        (#{body.title},#{body.content},#{body.level},#{body.attachments},#{body.createUid},NOW(),NOW());
    </insert>

    <update id="onUpdate">
        UPDATE task
        <set>
            <if test="body.title!=null and body.level!=''">
                title = #{body.title}
            </if>
            <if test="body.content!=null">
                content = #{body.content}
            </if>
            <if test="body.level!=null">
                level = #{body.level}
            </if>
            <if test="body.type3!=null">
                type3 = #{body.type3}
            </if>
            <if test="body.status!=null">
                status = #{body.status}
            </if>
            <if test="body.attachments!=null and body.attachments!=''">
                attachments = #{body.attachments}
            </if>
            update_time=NOW()
        </set>
        where id = #{body.id};
    </update>

    <update id="onHandle">
        UPDATE task set status=#{status} where id=#{id};
    </update>

    <delete id="onDelete">
        delete from task where id = #{id};
    </delete>
</mapper>